<a href="https://colab.research.google.com/github/kusasyu36/ai-roadmap-2025/blob/main/week01_python_basics/nb_day5_2_modules_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#文字列の比較演算

比較演算子、==, <, > などを用いて、2つの文字列を比較することもできます。

In [1]:
print('abc' == 'abc')
print('ab' == 'abc')

True
False

In [2]:
print('abc' != 'abc')
print('ab' != 'abc')

False
True

文字列の大小の比較は、いわゆる辞書式による比較で、文字列の最初の文字から順に比較して大小を決めます。 片方がもう片方を拡張したものであれば、拡張した方を大きいとします。

In [3]:
print('abc' <= 'abc')
print('abc' < 'abc')
print('abc' < 'abd')
print('ab' < 'abc')

True
False
True
True

#練習

英語の文字列 str_engsentences が引数として与えられたとき、それが全て小文字である場合、True を返し、そうでない場合、 False を返す関数 check_lower を作成してください。

次のセルの ... のところを書き換えて check_lower(str_engsentences) を作成してください。

In [5]:
def check_lower(str_engsentences):
  if str_engsentences == str_engsentences.lower():
    return True
  return False

In [6]:
print(check_lower('down down down') == True)
print(check_lower('There were doors all round the hall, but they were all locked') == False)

True
True

#初心者によくある誤解 — 変数と文字列の混乱

初心者によくある誤解として、変数と文字列を混乱する例が見られます。たとえば、文字列を引数に取る次のような関数 func を考えます（ func は引数として与えられた文字列を大文字にして返す関数です）。

In [7]:
def func(str1):
    return str1.upper()

ここで変数 str2 を引数として func を呼ぶと、str2 に格納されている文字列が大文字になって返ってきます。

In [8]:
str2 = 'abc'
func(str2)

'ABC'

次のように func を呼ぶと上とは結果が異なります。次の例では変数 str2 （に格納されている文字列 abc）ではなく、文字列 'str2' を引数として func を呼び出しています。

In [9]:

str2 = 'abc'
func('str2')

'STR2'

#練習

コンマ (,) を含む英語の文章からなる文字列 str_engsentences が引数として与えられたとき、str_engsentences 中の一番最初のコンマより後の文章のみかならなる文字列 str_res を返す関数 remove_clause を作成してください。ただし、 str_res の先頭は大文字のアルファベットとしてください。

次のセルの ... のところを書き換えて remove_clause(str_engsentences) を作成してください。

In [16]:
def remove_clause(str_engsentences):
  ind_num = str_engsentences.index(',')
  return str_engsentences[ind_num + 1 :].lstrip().capitalize()

In [17]:
remove_clause("It's being seen, but you aren't observing.")

"But you aren't observing."

In [18]:
print(remove_clause("It's being seen, but you aren't observing.") == "But you aren't observing.")

True

In [19]:
def remove_clause(str_engsentences):
    int_index = str_engsentences.find(',')
    str1 = str_engsentences[int_index+2:]
    return str1.capitalize()
#remove_clause("It's being seen, but you aren't observing.")

#2-2. リスト (list)

複数のデータを要素としてまとめて取り扱うデータとして、リストとタプルについて説明します。

参考

https://docs.python.org/ja/3/tutorial/introduction.html#lists

https://docs.python.org/ja/3/tutorial/datastructures.html#tuples-and-sequences

文字列を構成する要素は文字のみでしたが、リストでは構成する要素としてあらゆる型のデータを指定できます。 他のプログラミング言語では、リストに相当するものとして配列（もしくはアレイ）やベクターなどがあります。

リストを作成するには、リストを構成する要素をコンマで区切り全体をかぎ括弧 [...] で囲みます。

以下のセルでは数値を要素とするリストを作成して、変数に代入しています。 さらに、文字列と同様に組み込み関数 type を用いて、変数の値がリストであることを確認しています。

In [20]:
numbers = [0, 10, 20, 30, 40, 50]
numbers

[0, 10, 20, 30, 40, 50]

In [21]:
fruits = ['apple', 'banana', 'chelly']
fruits

['apple', 'banana', 'chelly']

リストの要素としてあらゆる型のデータを指定でき、それらは混在してもかまいません。 以下のセルでは、数値と文字列が混在しています。

In [22]:
numbers_fruits = [10, 'apple', 20, 'banana', 30]
numbers_fruits

[10, 'apple', 20, 'banana', 30]

#リストとインデックス

文字列の場合と同様に、インデックスを指定してリストの要素を取り出せます。 リストの x 番目の要素を取得するには次のような記法を用います。 インデックスは 0 から始まることに注意してください。

In [23]:
abcd = ['a', 'b', 'c', 'd']
abcd[2]

'c'

In [24]:
abcd = ['a', 'b', 'c', 'd']
abcd[2] = 'hello'
abcd

['a', 'b', 'hello', 'd']

In [25]:
abcd = ['a', 'b', 'c', 'd']
abcd[1:3]

['b', 'c']

In [26]:
abcd = ['a', 'b', 'c', 'd']
abcd[0:4:2]

['a', 'c']

リストのスライスに対しては、代入も可能です。

In [28]:
abcd = ['a', 'b', 'c', 'd']
abcd[1:1] = ['x', 'y', 'z']
abcd

['a', 'x', 'y', 'z', 'b', 'c', 'd']

#練習

リスト ln を引数として取り、ln の偶数番目のインデックスの値を削除したリストを返す関数 remove_evenindex を作成してください（ただし、0 は偶数として扱うものとします）。

ヒント：スライスを使います。

以下のセルの ... のところを書き換えて remove_evenindex(ln) を作成してください。

def

In [33]:
def remove_evenindex(ln):
  return ln[1:-1:2]
remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

['b', 'd', 'f']

In [34]:

print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']) == ['b', 'd', 'f'] )
print(remove_evenindex([1, 2, 3, 4, 5]) == [2, 4])

True
True

In [35]:
def remove_evenindex(ln):
    ln2 = ln[1::2]
    return ln2
#remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

#多重リスト

リストの要素としてリストを指定することもできます。 リストを要素とするリストは多重リストと呼ばれます。 次は二重リストの例です。

In [36]:
lns = [[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]

In [37]:
lns[1][0]

10

In [38]:
lns2 = [lns, ['x', 1, [11, 12, 13]], ['y', [100, 120, 140]] ]
lns2

[[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']],
 ['x', 1, [11, 12, 13]],
 ['y', [100, 120, 140]]]

In [42]:
lns2[1][2][2]

13

#リストに対する関数・演算子・メソッド

リストの要素数
組み込み関数 len はリストの長さ、すなわち要素数、を返します。

In [43]:
numbers = [0, 10, 20, 30, 40, 50]
len(numbers)

6

In [44]:
max(numbers)

50

In [45]:
sum(numbers)

150

#リストと演算子

演算子 + によってリストの連結、* によって連結における繰り返し回数を指定することができます。

In [46]:
numbers = [0, 10, 20, 30, 40, 50]
numbers + ['a', 'b', 'c']

[0, 10, 20, 30, 40, 50, 'a', 'b', 'c']

In [47]:
numbers*3

[0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50]

In [48]:
zero10 = [0] * 10
zero10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [49]:
x = [[0, 1], [2, 3]]
y = x*3
y

[[0, 1], [2, 3], [0, 1], [2, 3], [0, 1], [2, 3]]

このとき、x の要素が変更されると、y の中では複数箇所に変化が起こるので、注意してください。

x[0][0] = 99
y
[[99, 1], [2, 3], [99, 1], [2, 3], [99, 1], [2, 3]]
これは、y の中の複数個所にあるオブジェクトが同一だからです。 詳しくは、以下の「▲オブジェクトの等価性と同一性」を参照してください。

In [50]:
x[0][0] = 99
y

[[99, 1], [2, 3], [99, 1], [2, 3], [99, 1], [2, 3]]

In [51]:
10 in numbers

True

リストに対する in 演算子は、論理演算 or を簡潔に記述するのに用いることもできます。 たとえば、

a1 == 1 or a1 == 3 or a1 == 7:

は

a1 in [1, 3, 7]:

と同じ結果を得られます。 or の数が多くなる場合は、in を用いた方がより読みやすいプログラムを書くことができます。

In [52]:
a1 = 1
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 3
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 5
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])

True True
True True
False False

in 演算子は、左辺の要素がリストに含まれるかどうかを、 リストの要素を最初から順に調べることで判定しています。 したがって、リストの長さに比例した時間がかかります。 つまり、リストの長さが大きければ、それなりの時間がかかることに注意してください。

not in 演算子は、in 演算子の逆を意味します。

In [53]:
11 not in numbers

True

In [54]:
numbers = [0, 10, 20, 30, 40, 50]
numbers.index(20)

2

In [55]:
all20 = [20]*3
all20.count(20) # 指定した要素のリスト内の数

3

#並べ替え（sort メソッド）

sort メソッドはリスト内の要素を並べ替えます。 引数に何も指定しなければ昇順でとなります。

In [56]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()

In [57]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
characters.sort()
characters

['a', 'b', 'c', 'd', 'e', 'f']

#並べ替え（sorted 組み込み関数）

関数 sorted ではリストを引数に取って、そのリスト内の要素を昇順に並べ替えた結果をリストとして返します。

In [58]:
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)

[10, 20, 30, 40, 50, 60]

In [59]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
sorted(characters)

['a', 'b', 'c', 'd', 'e', 'f']

sorted においても、 reverse = True と記述することで要素を降順に並べ替えることができます。

In [60]:
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers, reverse=True)

[60, 50, 40, 30, 20, 10]

In [61]:
lns = [[20, 5], [10, 30], [40, 20], [30, 10]]
lns.sort()
lns

[[10, 30], [20, 5], [30, 10], [40, 20]]

#破壊的（インプレース）な操作と非破壊的な生成

上記では、sort メソッドと sorted 関数を紹介しましたが、両者の使い方が異なることに気が付きましたか？

具体的には、sort メソッドでは元のリストが変更されています。 一方、sorted 関数では元のリストはそのままになっています。もう一度確認してみましょう。

In [62]:
numbers = [30, 50, 10, 20, 40, 60]
numbers.sort()
print('sortメソッドの実行後の元のリスト:', numbers)
numbers = [30, 50, 10, 20, 40, 60]
sorted(numbers)
print('sorted関数の実行後の元のリスト:', numbers)

sortメソッドの実行後の元のリスト: [10, 20, 30, 40, 50, 60]
sorted関数の実行後の元のリスト: [30, 50, 10, 20, 40, 60]

このように、sort メソッドは元のリストを変更してしまいます。 このような操作を**破壊的あるいはインプレース (in-place) **であるといいます。

一方、sorted 関数は新しいリストを生成し元のリストを破壊しません、このような操作は**非破壊的**であるといいます。

sorted 関数を用いた場合、その返値（並べ替えの結果）は新しい変数に代入して使うことができます。

一方、sort メソッドはリストを返さないためそのような使い方はできません。

In [63]:
numbers = [30, 50, 10, 20, 40, 60]
numbers1 = sorted(numbers)
print('sorted関数の返値:', numbers1)

numbers = [30, 50, 10, 20, 40, 60]
numbers2 = numbers.sort()
print('sortメソッドの返値:', numbers2)

sorted関数の返値: [10, 20, 30, 40, 50, 60]
sortメソッドの返値: None

#リストを操作するメソッドなど

ここからはリストを操作するためのメソッドなどを紹介していきます。

メソッドや組み込み関数が破壊的であるかどうかは、一般にその名称などからは判断できません。 それぞれ破壊的かどうか理解してから利用しなければなりません。

なお、次の append メソッド以外は、必要に応じて参照すればよく、 それ以降タプルの項まで飛ばして構いません。

#リストに要素を追加する
append メソッドはリストの最後尾に指定した要素を付け加えます。

In [64]:
numbers = [10, 20, 30, 40, 50]
numbers.append(100)
numbers

[10, 20, 30, 40, 50, 100]

In [65]:
numbers1 = [10, -10, 20, 30, -20, 40, -30]
positives = [] # 空のリストを作成する
positives.append(numbers1[0])
positives.append(numbers1[2])
positives.append(numbers1[3])
positives.append(numbers1[5])
positives

[10, 20, 30, 40]

#▲リストにリストの要素を追加する

extend メソッドはリストの最後尾に指定したリストの要素を付け加えます。

In [66]:
numbers = [10, 20, 30, 40, 50]
numbers.extend([200, 300, 400, 200]) # numbers += [200, 300, 400, 200] と同じ
numbers

[10, 20, 30, 40, 50, 200, 300, 400, 200]

▲リストに要素を挿入する

insert メソッドはリストのインデックスを指定した位置に新しい要素を挿入します。

In [67]:
numbers = [10, 20, 30, 40, 50]
numbers.insert(1, 1000)
numbers

[10, 1000, 20, 30, 40, 50]

▲リストから要素を削除する

remove メソッドは指定した要素をリストから削除します。

In [68]:
numbers.remove(20) # 指定した要素が複数個リストに含まれる場合、一番最初の要素を削除
numbers

[10, 1000, 30, 40, 50]

▲リストからインデックスで指定した要素を削除する

pop メソッドはリストから指定したインデックスを削除し、その要素を返します。

In [69]:
numbers = [10, 20, 20, 30, 20, 40]
print(numbers.pop(3))
print(numbers)

30
[10, 20, 20, 20, 40]

In [70]:
ln = [10, 20, 30, 20, 40]
print(ln.pop())
print(ln)

40
[10, 20, 30, 20]

#▲リスト要素を削除する¶

del 文は指定するリストの要素を削除します。具体的には以下のように削除したい要素をインデックスで指定します。
del も**破壊的**であることに注意してください。

In [71]:
numbers = [10, 20, 30, 40, 50]
del numbers[2]
numbers

[10, 20, 40, 50]

In [72]:
numbers = [10, 20, 30, 40, 50]
del numbers[2:4]
numbers

[10, 20, 50]

#▲リストの要素を逆順にする

reverse メソッドはリスト内の要素の順序を逆順にします。

In [73]:
characters = ['e', 'd', 'a', 'c', 'f', 'b']
characters.reverse()
characters

['b', 'f', 'c', 'a', 'd', 'e']

#▲ copy

リストを複製します。 すなわち、ln の値がリストであるとき、ln.copy() は ln と同じ長さのリストを新たに作って、 ln の要素を新しいリストに同じ順番で格納して、その新しいリストを返します。

複製されたリストに変更を加えたとしても、もとのリストは影響を受けません。

In [74]:
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers.copy()
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[10, 20, 30, 40, 50]

In [75]:
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[50, 40, 10]

#リストと文字列の相互変換

文字列は変更不可能である一方、リスト変更可能です。 そのため、文字列処理をする際は、文字列のリストに一旦変換してから、変更を加えて、文字列に変換することが典型的です。 ここでは、文字列とリストの相互変換の方法を示します。

まず、文字列 s を list 関数に渡すと、s を文字単位で区切ったリストが得られます。

In [76]:
list('abc123')

['a', 'b', 'c', '1', '2', '3']

文字単位ではなく、指定された文字列で区切ってリストにする際は、 split メソッドを使います。

In [77]:
'banana'.split('n')

['ba', 'a', 'a']

In [78]:
'A and B and C'.split(' and ')

['A', 'B', 'C']

split を無引数で呼び出すと、連続した空白文字を区切りと見做します。

In [79]:
'A   B\nC  '.split()

['A', 'B', 'C']

逆に、文字のリストを連結して1つの文字列にする際は、 join メソッドを次のように使います。

接合点に挿入する文字列.join(文字列のリスト)

In [80]:
''.join(['a', 'b', 'c', '1', '2', '3'])

'abc123'

In [81]:
'n'.join(['ba', 'a', 'a'])

'banana'

#練習

emailアドレス email とドメイン名 domain を引数に取って、email のドメイン名を domain に置き換える関数 change_domain(email, domain) を作成してください。 なお、emailアドレスのドメイン名とは、 '@' で区切られた右側の部分を意味します。

次のセルの ... のところを書き換えて change_domain(email, domain) を完成させてください。

In [85]:
def change_domain(email, domain):
  num_at = email.index('@')
  beforedomain = email[0:num_at]
  return beforedomain + '@' + domain

In [86]:
change_domain('spam@utokyo-ipp.org', 'ipp.u-tokyo.ac.jp')

'spam@ipp.u-tokyo.ac.jp'

In [83]:
print(change_domain('spam@utokyo-ipp.org', 'ipp.u-tokyo.ac.jp') == 'spam@ipp.u-tokyo.ac.jp')

True

In [87]:
def change_domain(email, domain):
    return '@'.join([email.split('@')[0], domain])

#タプル (tuple)

タプルは、リストと同じようにデータの並びであり、あらゆる種類のデータを要素にできます。 ただし、リストと違ってタプルは一度設定した要素を変更できません（文字列も同様でした）。 すなわち、**タプルは変更不可能なデータ**です。 したがって、リストの項で説明したメソッドの多く、要素を操作するもの、は適用できないのですが、 逆にいうと、作成した後で要素を変更する必要がない場合は、 タプルの方が実装の効率がよいので、リストよりもタプルを使うべきです。

たとえば、関数が複数の値をリストにして返し、呼び出し側がすぐにリストをばらばらにして値を取り出すような場合は、 リストよりもタプルを使うべきです。 また、平面上の点を表そうとするとき、x座標とy座標を別々に変化させる必要がなければ、 (3, 5) のようなタプルを使うのが自然です。 このように、タプルを作成するには数学におけるのと同様に要素を丸括弧 (...) で囲みます。

例を見ましょう。

In [88]:
x = 3
y = 5
point = (x, y)

In [89]:
type(point)

tuple

要素が1つだけの場合は、 t = (1) ではなく、次のようにします。

In [90]:
onlyone = (1,)
onlyone

(1,)

t = (1) だと、t = 1 と同じになってしまいます。

In [91]:
onlyone = (1)
onlyone

1

In [92]:
empty = ()
empty

()

リストや文字列と同様に、インデックスや組み込み関数を使った操作が可能です。

In [93]:
numbers3 = (1, 2, 3)
numbers3[1] # インデックスの指定による値の取得

2

In [94]:
numbers3[1:3] # スライス

(2, 3)

In [95]:
numbers3 = (1, 2, 3)
numbers3[1] = 5

TypeError: 'tuple' object does not support item assignment

組み込み関数 list を使って、タプルをリストに変換できます。 （list はリストのデータ型でもあります。）

In [96]:
numbers3 = (1, 2, 3)
list(numbers3)

[1, 2, 3]

組み込み関数 tuple を使って、逆にリストをタプルに変換できます。 （tuple はタプルのデータ型でもあります。）

In [97]:
numbers2 = [1, 2]
tuple(numbers2)

(1, 2)

#練習

整数の要素からなるリスト ln を引数として取り、 ln に含まれる要素を逆順に格納したタプルを返す関数 reverse_totuple を作成してください。

以下のセルの ... のところを書き換えて reverse_totuple(ln) を作成してください。

In [117]:
def reverse_totuple(ln):


  return tuple(ln.reverse())

In [120]:
def reverse_totuple(ln):
    ln.reverse()
    tup = tuple(ln)
    return tup

In [121]:
reverse_totuple([1, 2, 3, 4, 5])

(5, 4, 3, 2, 1)

In [122]:
print(reverse_totuple([1, 2, 3, 4, 5]) == (5, 4, 3, 2, 1))

True

#多重代入

多重代入では、左辺に複数の変数などを指定してタプルやリストの全ての要素を一度の操作で代入することができます。

In [123]:
numbers = [0, 10, 20, 30, 40]
[a, b, c, d, e] = numbers
b

10

In [124]:
a, b, c, d, e = numbers
b

10

多重代入は文字列に対しても実行可能です。

In [125]:
a, b, c, d, e = 'hello'
d

'l'

In [126]:
numbers3 = (1, 2, 3)
(x,y,z) = numbers3
y

2

In [127]:
x,y,z = numbers3
print(y)
(x,y,z) = (1, 2, 3)
print(y)
x,y,z = (1, 2, 3)
print(y)
(x,y,z) = 1, 2, 3
print(y)
x,y,z = 1, 2, 3
print(y)

2
2
2
2
2

多重代入を使うことで、2つの変数に格納された値の入れ替えを行う手続きはしばしば用いられます。

In [128]:

x = 'apple'
y = 'pen'
x, y = y, x
print(x, y) #w = x; x = y; y = w と同じ結果が得られる

pen apple

#リストやタプルの比較演算

数値などを比較するのに用いた比較演算子を用いて、2つのリストやタプルを比較することもできます。

In [129]:
print([1, 2, 3] == [1, 2, 3])
print([1, 2] == [1, 2, 3])

True
False

In [130]:
print((1, 2, 3) == (1, 2, 3))
print((1, 2) == (1, 2, 3))

True
False

In [131]:
print([1, 2, 3] != [1, 2, 3])
print([1, 2] != [1, 2, 3])

False
True

In [132]:
print((1, 2, 3) != (1, 2, 3))
print((1, 2) != (1, 2, 3))

False
True

大小の比較は、いわゆる辞書式による比較で、リストやタプルの最初の要素から順に比較して大小を決めます。 片方がもう片方を拡張したものであれば、拡張した方を大きいとします。

In [133]:
print([1, 2, 3] <= [1, 2, 3])
print([1, 2, 3] < [1, 2, 3])
print([1, 2, 3] < [1, 2, 4])
print([1, 2] < [1, 2, 3])

True
False
True
True

In [134]:
print((1, 2, 3) <= (1, 2, 3))
print((1, 2, 3) < (1, 2, 3))
print((1, 2, 3) < (1, 2, 4))
print((1, 2) < (1, 2, 3))

True
False
True
True

#for文による繰り返しとリスト・タプル

きまった操作の繰り返しはコンピュータが最も得意とする処理のひとつです。 リストのそれぞれの要素にわたって操作を繰り返したい場合はfor文を用います。

リスト ls の要素全てに対して、実行文 を繰り返すには次のように書きます。

for value in ls:
    実行文
    
for で始まる行の in の後に処理対象となるリスト ls が、in の前に変数 value が書かれます。

ls の最初の要素、すなわち ls[0] が value に代入され 実行文 が処理されます。 実行文 の処理が終われば、ls の次の要素が value に代入され、処理が繰り返されます。 このようにして、ls の要素に対する処理が len(ls) 回繰り返されると、for文の処理が終了します。

ここでの in の働きは、先に説明したリスト要素の有無を検査する in とは異なることに、 そして、if文と同様、 実行文 の前にはスペースが必要であることに注意してください。

次に具体例を示します。 3つの要素を持つリスト ls から1つずつ要素を取り出し、変数 value に代入しています。 実行文 では value を用いて取り出した要素を参照しています。

In [136]:
ls = [0, 1, 2]
for value in ls:
  print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

In [137]:
for value in [0,1,2]:
  print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

実行文 の前にスペースがないとエラーが出ます。

In [138]:

for value in  [0,1,2]:
print('For loop:', value)

IndentationError: expected an indented block after 'for' statement on line 1 (ipython-input-1109392815.py, line 2)

エラーが出れば意図した通りにプログラムが組めていないのにすぐ気が付きますが、 エラーが出ないために意図したプログラムが組めていないことに気が付かないことがあります。 たとえば、次のような内容を実行しようとしていたとします

In [ ]:
for value in  [0,1,2]:
    print('During for loop:', value)
    print('During for loop, too:', value)

In [139]:
for value in [0, 1, 2]:
  print('During for loop:', value)
  print('During for loop, too:', value)

During for loop: 0
During for loop, too: 0
During for loop: 1
During for loop, too: 1
During for loop: 2
During for loop, too: 2

In [140]:
for value in [0,1,2]:
    print('During for loop:', value)
print('During for loop, too:', value) #この行のスペースの数が間違っていたがエラーは出ない

During for loop: 0
During for loop: 1
During for loop: 2
During for loop, too: 2

タプルの要素にまたがる処理もリストと同様に行えます。

In [141]:
for value in (0,1,2):
    print('For loop:', value)

For loop: 0
For loop: 1
For loop: 2

以下はリストに対するfor文の典型例です。numbers は数のリストとします。


以下のようにして、このリストの要素の自乗から成るリストを求めることができます。

In [142]:
numbers = [0,1,2,3,4,5]

squares1 = []
for x in numbers:
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

squares1 には最初に空リストが代入されます。 そして、numbers の各要素の自乗がこのリストに次々と追加されます。

#練習

整数の要素からなるリスト ln を引数として取り、ln の要素の総和を返す関数 sum_list を作成してください。

以下のセルの ... のところを書き換えて sum_list(ln) を作成してください。

In [148]:
def sum_list(ln):
  sum = 0
  for value in ln:
    sum = sum + value
  return sum

In [151]:
def sum_list(ln):
    int_sum = 0
    for value in ln:
        int_sum += value
    return int_sum
#sum_list([10, 20, 30])

In [152]:
print(sum_list([10, 20, 30]) == 60)
print(sum_list([-1, 2, -3, 4, -5]) == -3)

True
True

#for文による繰り返しと文字列

for文を使うと文字列全体にまたがる処理も可能です。 文字列 str1 をまたがって一文字ずつの繰り返し処理を行う場合は次のように書きます。 ここで、c には取り出された一文字（の文字列）が代入されています。

for c in str1:

    実行文

str1 で与えられる文字列を一文字ずつ大文字で出力する処理は以下のようになります。

In [153]:
str1 = 'Apple and pen'
for c in str1:
    print(c.upper())

A
P
P
L
E

A
N
D

P
E
N

#練習

ATGCの4種類の文字から成る文字列 str_atgc が引数として与えられたとき、次のようなリスト list_count を返す関数 atgc_countlist を作成してください。ただし、 list_count の要素は、各塩基 bp に対して str_atgc 中の bp の出現回数と bp の名前を格納した（長さ2の）リストとします。

ヒント：文字列 'ATGC' に対する繰り返しを用いることができます。

以下のセルの ... のところを書き換えて atgc_countlist(str_atgc) を作成してください。

In [163]:
def atgc_countlist(str_atgc):
  bpA = []
  bpT = []
  bpG = []
  bpC = []
  countA = 0
  countT = 0
  countG = 0
  countC = 0
  for i in str_atgc:
    # print(i)
    if i == 'A':
      countA += 1
    elif i == 'T':
      countT += 1
    elif i == 'G':
      countG += 1
    elif i == 'C':
      countC += 1
  # bpA = ['A', countA]
  # bpT = ['T', countT]
  # bpG = ['G', countG]
  # bpC = ['C', countC]
  bpA = [countA,'A']
  bpT = [countT,'T']
  bpG = [countG,'G']
  bpC = [countC,'C']
  return bpA, bpT, bpG, bpC

In [164]:
atgc_countlist('AAGCCCCATGGTAA')

([5, 'A'], [2, 'T'], [3, 'G'], [4, 'C'])

In [165]:
print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

In [168]:
def atgc_countlist(str_atgc):
  list_count = []
  for value in 'ATGC':
    int_bpcnt = str_atgc.count(value)
    list_count.append([int_bpcnt, value])
  return list_count

In [169]:
atgc_countlist('AAGCCCCATGGTAA')

[[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]

#for文によるリスト初期化の短縮記法

先に、リストの要素の自乗から成るリストを求める例を説明しました。

In [170]:
numbers = [0,1,2,3,4,5]

squares1 = []
for x in numbers:
    squares1.append(x**2)
squares1

[0, 1, 4, 9, 16, 25]

詳しくは6-1で説明されますが、内包表記を用いて書き換えると、以下のように1行で書くことができます。

In [171]:
squares2 = [x**2 for x in numbers]
squares2

[0, 1, 4, 9, 16, 25]

すなわち、

[x を含む式 for x in リストを返す式]

という式は、"リストを返す式" が返したリストの各要素を x に代入して "x を含む式" を計算し、 その結果をリストにして返します。 もちろん、変数は x でなくてもよいです。

In [172]:

[y**2 for y in numbers]

[0, 1, 4, 9, 16, 25]

#▲オブジェクトの等価性と同一性

1-3で、Pythonにおける値はオブジェクトと総称されますと述べました。 ここでは、オブジェクトの等価性と同一性について説明します。

既に見てきたように、演算子 == を用いてオブジェクトの等価性を判定できます。

In [173]:
a = []
b = []

In [174]:
a == b

True

しかし、[ で始まり ] で終わる式を評価すると、 必ず新しいリスト（オブジェクト）が作られて返されるので、 a と b の値は同一ではありません。

オブジェクトの同一性は演算子 is を用いて判定できます。

In [175]:
a is b

False

リストの要素はオブジェクトなので、要素ごとに等価性と同一性が定まります。

例として、a と b を要素とするリスト c を作ります。

In [176]:
c = [a, b]
c

[[], []]

In [177]:
c[0] is c[1]

False

In [178]:
c[0] == c[1]

True

In [179]:
a.append(1)
a

[1]

In [180]:
# すると c は以下のようになります。

c

[[1], []]

In [181]:
# ここで、a と b は等価でなくなりました。

a == b

False

In [182]:
# 次に、b を要素として二重に含むリスト d を作ります。

d = [b, b]

d[0] is d[1]

True

In [183]:
# b を変化させてみましょう。

b.append(1)
b

# すると d は以下のようになります。

d

[[1], [1]]

演算子 == でリストを比較すると、要素まで見て等価性を判定します。

In [184]:
print(a, b)
a == b

[1] [1]

True

In [185]:
# 演算子 == は、要素の比較も == で行います。

print(c, d)
c == d

[[1], [1]] [[1], [1]]

True

In [186]:
# 一方、オブジェクトの同一性は変化しません。
a is b

False

== の否定形は != で、is の否定形は is not です。 not x == y は x != y と書けます。not x is y は x is not y と書けます。 is not はこれで1つの演算子なので注意してください。

In [187]:

c != d

False

In [188]:
a is not b

True

#3-1. 辞書 (dictionary)

キーと値を対応させるデータ構造である辞書について説明します。

参考

https://docs.python.org/ja/3/tutorial/datastructures.html#dictionaries

辞書は、キー (key) と値 (value) を対応づけるデータです。 キーとしては、文字列・数値・タプルなどの変更不可能なデータを使うことができますが、 変更可能なデータであるリスト・辞書を使うことはできません。 （辞書も変更可能なデータです。） 一方、値としては、変更の可否にかかわらずあらゆる種類のデータを指定できます。

たとえば、文字列 'apple' をキーとし値として数値 3 を、'pen' をキーとして 5 を対応付けた辞書は、 次のように作成します。

In [189]:
ppap = {'apple' : 3, 'pen' : 5}

In [190]:
ppap = {'apple' : 3, 'pen' : 5}
ppap

{'apple': 3, 'pen': 5}

In [191]:
type(ppap)

dict

辞書の キー1 に対応する値を得るには、リストにおけるインデックスと同様に、

辞書[キー1]

とします。

In [192]:
ppap = {'apple' : 3, 'pen' : 5}
ppap['apple']

3

In [193]:
ppap['orange']

KeyError: 'orange'

キーに対する値を変更したり、新たなキーと値を登録するには代入文を用います。

In [194]:
ppap = {'apple' : 3, 'pen' : 5}
ppap['apple'] = 10
ppap['pinapple'] = 7
ppap

{'apple': 10, 'pen': 5, 'pinapple': 7}

上のようにキーから値は取り出せますが、値からキーを直接取り出すことはできません。 また、リストのようにインデックスを指定して値を取得することはできません。

In [195]:
ppap[1]

KeyError: 1

キーが辞書に登録されているかどうかは、演算子 in を用いて調べることができます。

In [197]:
ppap = {'apple' : 3, 'pen' : 5}
'appple' in ppap

False

In [198]:
ppap = {'apple': 3, 'pen': 5}
len(ppap)

2

del 文によって、登録されているキーの要素を削除することができます。具体的には、次のように削除します。

del 辞書[削除したいキー]

In [199]:

ppap = {'apple' : 3, 'pen' : 5}
del ppap['pen']
ppap

{'apple': 3}

空のリストと同様に空の辞書を作ることもできます。このような空のデータは繰り返し処理でしばしば使われます。

In [200]:
empty_d = {}
empty_d

{}

#練習

リスト list1 が引数として与えられたとき、list1 の各要素 value をキー、value の list1 におけるインデックスをキーに対応する値とした辞書を返す関数 reverse_lookup を作成してください。

以下のセルの ... のところを書き換えて reverse_lookup(list1) を作成してください。

In [ ]:
def reverse_lookup(list1):
  dic1 = {}
  for i in list1:

In [206]:
reverse_lookup(['apple', 'pen', 'orange'])

{'apple': 0, 'pen': 1, 'orange': 2}

In [209]:
list1 = ['apple', 'pen', 'orange']
dic1 = {}  # 空の辞書を作成する

for value in list1:
  # print(value)
  # print(list1.index(value))
  dic1[value] = list1.index(value)
  print(dic1)

# ppap = {'apple' : 3, 'pen' : 5}
# ppap['apple'] = 10
# ppap['pinapple'] = 7

apple
0
{'apple': 0}
pen
1
{'apple': 0, 'pen': 1}
orange
2
{'apple': 0, 'pen': 1, 'orange': 2}

In [ ]:
def reverse_lookup(list1):
    dic1 = {}  # 空の辞書を作成する
    for value in list1:
        dic1[value] = list1.index(value)
    return dic1
#reverse_lookup(['apple', 'pen', 'orange'])

In [210]:
def reverse_lookuup(list1):
  dict1 = {}
  for value in list1:
    dict[value] = list1.index(value)
  return dict1

#辞書のメソッド

辞書のメソッドを紹介しておきます。

#キーを指定して値を得るメソッド

get メソッドは、引数として指定したキーが辞書に含まれてる場合にはその値を取得し、 指定したキーが含まれていない場合には None を返します。 get を利用することで、エラーを回避し、登録されているかどうかわからないキーを使うことができます。 先に説明したキーを括弧、[...]、で指定する方法では、 辞書にキーが存在しないとエラーとなりプログラムの実行が停止してしまいます。

In [211]:
ppap = {'apple' : 3, 'pen' : 5}
print('キーappleに対応する値 = ', ppap.get('apple'))
print('キーorangeに対応する値 = ', ppap.get('orange'))
print('キーorangeに対応する値（エラー） = ', ppap['orange'])

キーappleに対応する値 =  3
キーorangeに対応する値 =  None

KeyError: 'orange'

また、get に2番目の引数を与えると、その引数の値を「指定したキーが含まれていない場合」に get が返す値とすることができます。

In [212]:

ppap = {'apple' : 3, 'pen' : 5}
print('キーappleに対応する値 = ', ppap.get('apple', -1))
print('キーorangeに対応する値 = ', ppap.get('orange', -1))

キーappleに対応する値 =  3
キーorangeに対応する値 =  -1